parameters:
	ReCaptchaSecret: 'xyxyxyxy'
	KontaktyMails:
		- hu@hu.hu
		- someone@something.com

database:
	dsn: 'mysql:host=xyxyxyxy;dbname=bdmhhk'
	user: bdmhhk
	password: xyxyxyxy
	options:
		lazy: yes
